/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main body styles */
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  overflow-y: hidden;
   min-height: 100vh;
  background: linear-gradient(
    135deg,
    #8ec5fc,
    #8dd3ff,
    #a1d8ff,
    #c1d2ff,
    #e0c3ff
  );
  background-size: 200% 200%;
 
}

/* Nav bar Styles */
nav{
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 20px
  
}
.profile{
  margin-top: 20px;
}

.ulNav{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* To do list styles */
.todolist{
  display: flex;
  border: 1px solid black;
  height: 50px;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-left: 300px;
  margin-top: 10px;
}

.Priority{
  margin-right: 15px;
}


/* details styling */
.todo-icon{
  background-color: transparent;
  border: none;
}
.taskName{
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ulClass{
  border: 1px solid black; 
  width: 600px; 
  height: 80px; 
  margin-left: 300px; 
  margin-top: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}


/* form */
.form{
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 60px);
  gap: 8px;
  border: 1px solid black; 
  width: 500px; 
  height: 250px;
  margin-left:600px;
  margin-top: 100px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  
}

#titleInput{
  grid-column: 1 / 3;
  width: 510px;
  height: 50px;
}

#dueDate{
  grid-row-start: 2;
  width: 250px;
  height: 50px;
}

#pirority{
  grid-row-start: 2;
  width: 250px;
  height: 55px;
}

#description{
  grid-column: span 2 / span 2;
  grid-row-start: 3;
  width: 510px;
  height: 50px;
}

#submitButton{
  grid-row-start: 4;
  width: 250px;
  height: 50px;
}

#cancelButton{
  grid-row-start: 4;
  width: 250px;
  height: 50px;
}